.product-img{
    width: 100%;
    height: auto;
}
.custom-card{
    background-color: #F0F4F8;
    border-radius: 10px;
    color: #748A9D;
    font-size: 16px;
}
.custom-input{
    width: 34px;
    background: transparent;
    border: none;
    text-align: center;
}
.btn-custom{
    color: #019747;
    font-size: 27px;
}
.product-title{
    font-size: 20px ;
    color: #019747;
}
.product-des{
    font-size: 16px;
    color: #748A9D;
}