.header{
    border-radius: 0px 0px 18px 18px;
}
.logo-text{
    color: yellow;
    font-weight: 600;
    font-size: 27px;
}
.form-control{
    background-color: #F0F4F8 !important;
    border: none !important;
}
.form-icon{
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 22px;
    color: #A6BCD0;
}
.form-control::placeholder {
    color: #A6BCD0;
}
.form-control:focus{
    box-shadow: none !important;
}
.search{
    width: 140px;
}
.uk-modal-body{
    padding: 10px !important;
}
.vh-custom{
    height: calc(100vh - 112px);
}