<ion-header translucent="true">
  <div class="header">
    <div class="col-12"><label for="" class="header__title">Cart</label></div>
  </div>
</ion-header>
<ion-content>
  <div class="content">
    <div class="cartitem" *ngFor="let product of products;let i=index;">
      <img class="cartitem__img" [src]="product.featuredImage" alt="{{product.name}}">
      <label for="" class="cartitem__name text-truncate">{{product.name}}</label>
      <div class="cartitem__qty">
        <label for="" class="cartitem__price">₹ {{product.price - product.discountPrice}} X {{product.qty}}{{product.unit}}= ₹ {{(product.price - product.discountPrice)*product.qty}}</label>
        <button class="control-btn" (click)="remove(i,product._id)">-</button>
        <input class="control-input" [value]="product.qty" type="text">
        <button class="control-btn" (click)="add(i,product._id)">+</button>
      </div>
      
      <div class="cartitem__delete">
        <ion-icon name="trash" (click)="delete(i,product._id)"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="container-fluid py-3">
    <label for="" class="cartcheckout-detail w-100 px-3"><span>Sub-total</span> <span class="float-right">{{totalamount}}</span> </label>
    <label for="" class="cartcheckout-detail w-100 px-3"><span>Delivery</span> <span class="float-right">Standard (free)</span> </label>
    <label for="" class="cartcheckout-detail w-100 px-3"><span>Sub-total</span> <span class="float-right">{{totalamount}}</span> </label>
    <ion-button expand="block" shape="round" (click)="checkout()"><ion-icon name="arrow-forward mr-3"></ion-icon>Check Out</ion-button>
  </div>
</ion-footer>
<ion-footer>
  <app-footer></app-footer>
</ion-footer>