<ion-header translucent="true">
  <div class="header">
    <div class="col-12"><label for="" class="header__title">Wish List</label></div>
  </div>
</ion-header>
<ion-content>
  <div class="content">
    <div class="wishitem">
      <img class="wishitem__img" src="../../../assets/img/6580049_preview.png" alt="">
      <label for="" class="wishitem__name text-truncate">Penna Premium Cement</label>
      <label for="" class="wishitem__price">355</label>
      <div class="wishitem__delete">
        <ion-icon name="trash"></ion-icon>
      </div>
    </div>
    <div class="wishitem">
      <img class="wishitem__img" src="../../../assets/img/6580049_preview.png" alt="">
      <label for="" class="wishitem__name text-truncate">Penna Premium Cement</label>
      <label for="" class="wishitem__price">355</label>
      <div class="wishitem__delete">
        <ion-icon name="trash"></ion-icon>
      </div>
    </div>
    <div class="wishitem">
      <img class="wishitem__img" src="../../../assets/img/6580049_preview.png" alt="">
      <label for="" class="wishitem__name text-truncate">Penna Premium Cement</label>
      <label for="" class="wishitem__price">355</label>
      <div class="wishitem__delete">
        <ion-icon name="trash"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="container-fluid py-3">
    <ion-button expand="block" shape="round"><ion-icon name="arrow-forward mr-3"></ion-icon>ADD TO CART</ion-button>
  </div>
</ion-footer>
<ion-footer>
  <app-footer></app-footer>
</ion-footer>