<ion-header translucent="true">
  <div class="header">
    <div class="col-12"><label for="" class="header__title">Wish List</label></div>
  </div>
</ion-header>
<ion-content>
  <div class="content">
    <div class="wishitem" *ngFor="let product of productList">
      <img class="wishitem__img" [src]="product.featuredImage" alt="{{product.name}}">
      <label for="" class="wishitem__name text-truncate">{{product.name}}</label>
      <label for="" class="wishitem__price">₹ {{product.price - product.discountPrice}}</label>
      <div class="wishitem__delete">
        <ion-icon name="trash" (click)="delete(product._id)"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="container-fluid py-3">
    <ion-button expand="block" shape="round"><ion-icon name="arrow-forward mr-3"></ion-icon>ADD TO CART</ion-button>
  </div>
</ion-footer>
<ion-footer>
  <app-footer></app-footer>
</ion-footer>