<ion-header>
  <div class="container-fluid dark">
    <div class="row py-3">
      <div class="col-2">
        <ion-button [routerLink]="['/home']" fill='clear'>
          <ion-icon slot="start" name="chevron-back"></ion-icon>
          Back
        </ion-button>
      </div>
      <div class="col-10 text-center d-flex align-items-center justify-content-center">
        <span class="logo-alt">CEMENT BAZAR</span>
      </div>
    </div>
  </div>
</ion-header>
<ion-content fullscreen= "true">
  <div class="container-fluid  animate__animated animate__slideInDown">
    <div class="row">
      <div class="col-12 py-4 text-center custom-card h-75 text-cente d-flex flex-column justify-content-center position-relative">
        <form [formGroup]="registerForm">
          <span class="mb-3 txt-light">Create Account</span>
          <div class="position-relative">
            <input formControlName="fname" type="text" placeholder="Firstname" class="pl-5 form-control mb-3 panda-light">
            <ion-icon slot="start" name="person-outline" class="form-icon position-absolute"></ion-icon>
          </div>
          <div class="position-relative">
            <input formControlName="lname" type="text" placeholder="Lastname" class="pl-5 form-control mb-3 panda-light">
            <ion-icon slot="start" name="person-outline" class="form-icon position-absolute"></ion-icon>
          </div>
          <div class="position-relative">
            <input formControlName="email" type="text" placeholder="Email" class="pl-5 form-control mb-3 panda-light">
            <ion-icon slot="start" name="mail-outline" class="form-icon position-absolute"></ion-icon>
          </div>
          <div class="position-relative">
            <input formControlName="phno" type="number" placeholder="Phone number" class="pl-5 form-control mb-3 panda-light">
            <ion-icon slot="start" name="lock-closed-outline" class="form-icon position-absolute"></ion-icon>
          </div>
          <div class="position-relative">
            <input formControlName="password" type="text" placeholder="Password" class="pl-5 form-control mb-3 panda-light">
            <ion-icon slot="start" name="lock-closed-outline" class="form-icon position-absolute"></ion-icon>
          </div>
          <div class="position-relative">
            <input formControlName="confirm_password" type="text" placeholder="Confirm Password" class="pl-5 form-control mb-3 panda-light">
            <ion-icon slot="start" name="lock-closed-outline" class="form-icon position-absolute"></ion-icon>
          </div>
        </form>
        <ion-button (click)="register()" class="btn-custom" shape="round">
          <ion-icon slot="start" name="arrow-forward-outline"></ion-icon>
          CREATE ACCOUNT
        </ion-button>
      </div>
      <div class="col-12 h-25 d-flex justify-content-center">
        <a [routerLink]="['/login/signin']" class="mt-4 pt-2 txt-light">login</a>
      </div>
    </div>
  </div>
</ion-content>





