<ion-header translucent="true">
  <div class="header">
    <div class="col-12"><label for="" class="header__title">Settings</label></div>
  </div>
</ion-header>
<ion-content>
  <div class="content">
    <div class="menuitem d-flex justify-content-between">
      <label for="" class="col menuitem__icon"><ion-icon name="person"></ion-icon></label>
      <label for="" class="col menuitem__name">Your Account</label>
      <label for="" class="col menuitem__arrow">  <ion-icon name="arrow-forward"></ion-icon></label>
    </div>
    <div class="menuitem d-flex justify-content-between">
      <label for="" class="col menuitem__icon"><ion-icon name="list"></ion-icon></label>
      <label for="" class="col menuitem__name">Your Orders</label>
      <label for="" class="col menuitem__arrow">  <ion-icon name="arrow-forward"></ion-icon></label>
    </div>
    <div class="menuitem d-flex justify-content-between">
      <label for="" class="col menuitem__icon"> <ion-icon name="trophy"></ion-icon></label>
      <label for="" class="col menuitem__name">Rewards</label>
      <label for="" class="col menuitem__arrow">  <ion-icon name="arrow-forward"></ion-icon></label>
    </div>
    <div class="menuitem d-flex justify-content-between">
      <label for="" class="col menuitem__icon"><ion-icon name="heart-outline"></ion-icon></label>
      <label for="" class="col menuitem__name">WIshlist</label>
      <label for="" class="col menuitem__arrow">  <ion-icon name="arrow-forward"></ion-icon></label>
    </div>
    <div class="menuitem d-flex justify-content-between">
      <label for="" class="col menuitem__icon"><ion-icon name="call"></ion-icon></label>
      <label for="" class="col menuitem__name">Call</label>
      <label for="" class="col menuitem__arrow">  <ion-icon name="arrow-forward"></ion-icon></label>
    </div>
    <div class="menuitem d-flex justify-content-between">
      <label for="" class="col menuitem__icon"><ion-icon name="star-outline"></ion-icon></label>
      <label for="" class="col menuitem__name">Rate Us</label>
      <label for="" class="col menuitem__arrow">  <ion-icon name="arrow-forward"></ion-icon></label>
    </div>
    <div class="menuitem d-flex justify-content-between">
      <label for="" class="col menuitem__icon"><ion-icon name="share"></ion-icon></label>
      <label for="" class="col menuitem__name">Share</label>
      <label for="" class="col menuitem__arrow">  <ion-icon name="arrow-forward"></ion-icon></label>
    </div>
    <div class="menuitem d-flex justify-content-between">
      <label for="" class="col menuitem__icon"> <ion-icon name="people"></ion-icon></label>
      <label for="" class="col menuitem__name">About Us</label>
      <label for="" class="col menuitem__arrow">  <ion-icon name="arrow-forward"></ion-icon></label>
    </div>
    <div class="menuitem d-flex justify-content-between">
      <label for="" class="col menuitem__icon"><ion-icon name="power"></ion-icon></label>
      <label for="" class="col menuitem__name">Sign Out</label>
      <label for="" class="col menuitem__arrow">  <ion-icon name="arrow-forward"></ion-icon></label>
    </div>
  </div>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>