<div class="container-fluid">
  <div class="row py-2">
    <div class="col d-flex align-items-center justify-content-center">
      <ion-icon class="icon-menu" slot="start" name="home-outline" (click)=home()></ion-icon>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
     <ion-icon class="icon-menu" slot="start" name="heart-outline" (click)=wishlist()>
     </ion-icon>
     <ion-badge mode='ios' color="primary" *ngIf="wishcount > 0">{{wishcount}}</ion-badge>
   </div>
   <div class="col d-flex align-items-center justify-content-center">
     <ion-icon class="icon-menu" slot="start" name="cart-outline"></ion-icon>
   </div>
   <div class="col d-flex align-items-center justify-content-center">
     <ion-icon class="icon-menu" slot="start" name="cog-outline"></ion-icon>
   </div>
  </div>
</div>
